{:core/device-id "HID\\VID_1532&PID_022B&REV_0200&MI_00"

 :core/remap-keys {
                   2  0x3B        ;; F1
                   3  0x3C        ;; F2
                   4  0x3D        ;; F3
                   5  0x3E        ;; F4
                   6  [0x1D 0x3C] ;; Ctrl + F2
                   15 0x02        ;; 1
                   16 0x03        ;; 2
                   17 0x04        ;; 3
                   18 0x05        ;; 4
                   19 0x10        ;; Q
                   30 0x07        ;; 6
                   31 0x08        ;; 7
                   32 0x09        ;; 8
                   33 0x12        ;; E
                   42 0x0A        ;; 9
                   44 0x0B        ;; 0
                   45 0x0C        ;; -
                   46 0x0D        ;; ^
                   56 [0x38 0x52] ;; Alt + Num0
                   57 [0x1D 0x3C] ;; Ctrl + F2
                   58 0x06        ;; 5
                   }
 }
